# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse Specific
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# IDE settings
.settings/
.project
.classpath

# Maven specific
target/

# OS-specific files
.DS_Store
Thumbs.db
